* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Spline Sans', sans-serif;
      
  }
  header {
    background-image: url('../img/carousel1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
  }
/* font google font
  font-family: 'Carter One', cursive;
 */
  
 /* parte del navbar*/
.logo1{
  max-width: 70px;
  padding-right: 20px;
  
}
.logo-text{
  font-family: 'Carter One', cursive;
}
.fondonav{
  background-color: rgb(85, 145, 105);
}

/*parte de la imagen principal*/
h2{
  font-family: 'Carter One', cursive;
  padding-top: 30px;
  text-align: center;
}

main{
  background-color: rgb(226, 156, 115);
}
.contenedor{
  max-width: 1300px;
  background-color: rgb(148, 236, 140);
}
.iconosrs{
font-size: 35px;

}
.iconosrs i {
  color: #fbfbfb;
  text-decoration: none;
}

.iconosrs i:hover 
{
   color:#eee020; 
   text-decoration:none; 
   cursor:pointer;  
}


