* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Spline Sans', sans-serif;
           
  }
  header {
    background-image: url('../img/carousel1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
  }
  
  h1{
    text-shadow: rgb(42, 42, 42) -4px 4px;
  }
 /* parte del navbar*/
.logo1{
  max-width: 70px;
  padding-right: 20px;
  
}
.logo-text{
  font-family: 'Carter One', cursive;
}

.fondonav{
  background-color: rgb(85, 145, 105);
}

/*parte de la imagen principal*/
h2{
  font-family: 'Carter One', cursive;
  padding-top: 30px;
  text-align: center;
}
footer h3{
  text-align:center;
  padding-top: 20px;
  font-size: 18px;
}

.container1{
  background-color: rgb(155, 175, 163);
  
}

.modal-1{
 text-align: center;
}

/* Iconos que van en el footer, RRSS */
.iconosrs{
font-size: 35px;

}
.iconosrs i {
  color: #fbfbfb;
  text-decoration: none;
}

.iconosrs i:hover 
{
   color:#eee020; 
   text-decoration:none; 
   cursor:pointer;  
}




